[submodule "web-lab-2"]
	path = web-programming-lab-JSP
	url = git@github.com:GulDilin/web-programming-lab-JSP.git
[submodule "lab-three"]
	path = web-programming-lab-JSF
	url = git@github.com:GulDilin/web-programming-lab-JSF.git
[submodule "spring-lab"]
	path = web-programming-lab-Spring
	url = git@github.com:GulDilin/web-programming-lab-Spring.git
